# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py

# Database
*.sqlite3
*.sqlite
db.sqlite3

# Virtual enviroments
env/
venv/
.venv/
backend/.venv/

# Node
node_modules/
/dist
/build

# Vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
test_data/
.github_scripts.md
