asgiref==3.10.0
autopep8==2.3.2
black==26.3.1
chardet==5.2.0
click==8.3.1
colorama==0.4.6
Django==4.2.30
django-cors-headers==4.9.0
django-phonenumber-field==8.4.0
djangorestframework==3.17.1
et_xmlfile==2.0.0
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==26.0
pathspec==1.0.4
phonenumbers==9.0.34
pillow==12.0.0
platformdirs==4.9.4
pycodestyle==2.14.0
python-dotenv==1.2.1
pytokens==0.4.1
sqlparse==0.5.3
tzdata==2025.2
