.userPanel {
  border-radius: 1.5rem;
  background-color: var(--gris-50);
  padding: 1rem 1.25rem;
  font-size: 0.875rem;
  color: var(--gris-700);
}

.userRole {
  color: var(--gris-500);
}

.infoBanner {
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--gris-200);
  background-color: var(--gris-50);
  padding: 1.5rem;
  font-size: 0.875rem;
  color: var(--gris-700);
}
